{*{dump $element}*}
<a {if !empty($element->getHrefAttribute())}href="{$element->getHrefAttribute()}"{/if} {if !empty($element->getNameAttribute())}name="{$element->getNameAttribute()}"{/if} {if !empty($element->getTargetAttribute())}target="{$element->getTargetAttribute()}"{/if} {if !empty($element->getIdAttribute())}id="{$element->getIdAttribute()}"{/if} n:class="!empty($element->getClassAttribute()) ? $element->getClassAttribute() : ''" {if !empty($element->getStyleAttribute())}style="{$element->getStyleAttribute()}"{/if}>
	{if !empty($element->getHtmlContent())}
	{$element->getHtmlContent()|noescape}
	{/if}
	{if !empty($element->getChildrenElements())}
		{foreach $element->getChildrenElements() as $childrenElement}
			{$childrenElement->render()}
		{/foreach}
	{/if}
</a>
<hr>
