{layout '../../Base/templates/@layout.latte'}

{block #head}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" defer/>
	<link rel="stylesheet" href="{$basePath}/assets/front.css" defer/>
	<script src="{$basePath}/assets/front.js" defer></script>
{/}

{block #main}
	<div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
		<header class="masthead">
			<div class="inner">
				<h3 class="masthead-brand">Skills demonstration app</h3>
				<nav class="nav nav-masthead justify-content-center">
					<a n:class="$presenter->isLinkCurrent(':Front:Home:') ? active, nav-link" n:href=":Front:Home:">Home</a>
					<a n:class="$presenter->isLinkCurrent(':Front:MusicList:') ? active, nav-link" n:href=":Front:MusicList:">Music List</a>
					<a n:class="$presenter->isLinkCurrent(':Front:OwnHtmlElements:') ? active, nav-link" n:href=":Front:OwnHtmlElements:">Own HTML elements</a>
					<a n:class="$presenter->isLinkCurrent(':Admin:Home:') ? active, nav-link" n:href=":Admin:Home:">Admin</a>
				</nav>
			</div>
		</header>

		<main role="main" class="inner cover">
			{include content}
		</main>

		<footer class="mastfoot mt-auto">
			<div class="inner">
				<p>Plachy Tomas on <a href="http://plachytomas.cz/">plachytomas.cz</a>.</p>
			</div>
		</footer>
	</div>
{/}
