{*{dump $element}*}
<div class="form-group">
	<label n:if="!empty($element->getHtmlContent())">
		{$element->getHtmlContent()|noescape}
	</label><br>
	<input
			{if !empty($element->getTypeAttribute())}type="{$element->getTypeAttribute()}"{/if}
			{if !empty($element->getNameAttribute())}name="{$element->getNameAttribute()}"{/if}
			{if !empty($element->getValueAttribute())}value="{$element->getValueAttribute()}"{/if}
			{if !empty($element->getIdAttribute())}id="{$element->getIdAttribute()}"{/if}
			n:class="!empty($element->getClassAttribute()) ? $element->getClassAttribute() : ''"
			{if !empty($element->getStyleAttribute())}style="{$element->getStyleAttribute()}"{/if}
	/>
</div>

