{block #title}Home - select developed solution{/block}
{block #content}
<div class="row">
	<div class="col-xs-12 col-sm-4">
		<a n:href=":Front:MusicList:">Music List demonstration</a>
		<br>
		<small>using ORM/Doctrine , ORM/Doctrine DQL, pure SQL for list of some music</small>
	</div>
	<div class="col-xs-12 col-sm-4">
		<a n:href=":Front:OwnHtmlElements:">Own Html elements demonstration</a>
		<br>
		<small>using own generated html elements</small>
	</div>
</div>
