{block #title}Music List{/block}
{block #content}
{*{dump $albums}*}
{*{dump $statisticsByDQL}*}
{*{dump $statisticsBySQL}*}
<h2>Album with longest track in collection</h2>
<div class="row">
	<div class="col-md-4" n:if="!empty($longestTrackAlbum)">
		<div class="thumbnail" >
			<img src="http://lorempixel.com/output/nightlife-q-c-400-400-6.jpg" alt="thumb">
			<div class="caption">
				<h3>{$longestTrackAlbum['album_nazev']}</h3>
				<p>{$longestTrackAlbum['interpret_nazev']} - {$longestTrackAlbum['nazev']}</p>
				<p>délka skladby {$longestTrackAlbum['delka']}</p>
			</div>
		</div>
	</div>
</div>

<h2>List of albums by ORM</h2>
<div class="row">
	<div class="col-md-4" n:if="!empty($albums)" n:foreach="$albums as $album">
		<div class="thumbnail" >
			<img src="http://lorempixel.com/output/nightlife-q-c-400-400-6.jpg" alt="thumb">
			<div class="caption">
				<h3>{$album->getNazev()}</h3>
				<p n:foreach="$album->getInterpreti() as $interpret">{$interpret->getNazev()}</p>
			</div>
		</div>
	</div>
</div>

<h2>List of albums by DQL</h2>
<div class="row">
	<div class="col-md-4" n:if="!empty($statisticsByDQL)" n:foreach="$statisticsByDQL as $album">
		<div class="thumbnail" >
			<img src="http://lorempixel.com/output/nightlife-q-c-400-400-6.jpg" alt="thumb">
			<div class="caption">
				<h3>{$album["album_nazev"]}</h3>
				<p>{$album["interpret_nazev"]}</p>
				<p>počet skladeb: {$album["count_of_skladba"]}</p>
			</div>
		</div>
	</div>
</div>

<h2>List of albums by SQL</h2>
<div class="row">
	<div class="col-md-4" n:if="!empty($statisticsBySQL)" n:foreach="$statisticsBySQL as $album">
		<div class="thumbnail" >
			<img src="http://lorempixel.com/output/nightlife-q-c-400-400-6.jpg" alt="thumb">
			<div class="caption">
				<h3>{$album["album_nazev"]}</h3>
				<p>{$album["interpret_nazev"]}</p>
				<p>počet skladeb: {$album["count_of_skladba"]}</p>
			</div>
		</div>
	</div>
</div>
