{*{dump $element}*}
<form {if !empty($element->getTargetAttribute())}target="{$element->getTargetAttribute()}"{/if} {if !empty($element->getMethodAttribute())}method="{$element->getMethodAttribute()}"{/if} {if !empty($element->getActionAttribute())}action="{$element->getActionAttribute()}"{/if}  {if !empty($element->getIdAttribute())}id="{$element->getIdAttribute()}"{/if} n:class="!empty($element->getClassAttribute()) ? $element->getClassAttribute() : ''" {if !empty($element->getStyleAttribute())}style="{$element->getStyleAttribute()}"{/if}>
	{if !empty($element->getChildrenElements())}
		{foreach $element->getChildrenElements() as $childrenElement}
			{$childrenElement->render()}
		{/foreach}
	{/if}
</form>
<hr>
